{% extends "includes/base.html" %}

    {% load custom_markdown %}

    {% block header %}
        <div class="header">
            <h1><code>Blog Post</code></h1>
        </div>
    {% endblock %}

    {% block content %}

        <div class="post">
          <nav>
            <ul class="pager">
              <li class="previous"><a href="/blog/"><span aria-hidden="true">&larr;</span> Article List</a></li>
            </ul>
          </nav>
        <h2>{{ object.title }}</h2>
        <p>
          <small>
            {{ object.pub_date }}
            <a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>
          </small>
        </p>
        <hr>
        <p class="text-justified">{{ object.text|custom_markdown }}</p>
        <hr>
        <nav>
          <ul class="pager">
            <li class="previous"><a href="/blog/"><span aria-hidden="true">&larr;</span> Article List</a></li>
          </ul>
        </nav>

        </div>


    {% endblock %}
