/* General Landing Page style */

body {
    text-align: center;
    color: #fff;
    background: url('/static/img/Panorama.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: orange;
}

a:hover,
a:focus,
a:active,
a.active {
    color: orange;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.page-header {
  text-transform: initial;
  font-family: "courier new"
}

body .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

body .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

body .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
/*    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}


.btn-xl {
    border-color: #f6bf01;
    padding: 30px 70px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    margin-top: 60px;
    margin-bottom: 60px;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: orange;
    background-color: orange;
}

.btn-xl .badge {
    color: orange;
    background-color: #fff;
}


/* SOCIAL Buttons Style */

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    border-color: #f6bf01;
    color: #fff;
    box-shadow: 0 0 3px 3px #fff;  /* for hollow circle with 3px border*/

    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 120px;
    outline: 0;
    color: #fff;
    background-color: transparent;
  /*  background-color: #222;*/
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
ul.social-buttons i {
   padding-top: 20px;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: orange;
}

.list-inline>li { /*Padding between social buttons */
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px
}

/* Media Screen Sizes*/
/* Phone */
@media screen
and (min-width: 320px)
and (max-width: 480px) {
  body {
      background: url('/static/img/Panorama-iPad.jpg') no-repeat center center fixed;
  }
  body .intro-text {
      padding-top: 40px;
      padding-bottom: 40px;
  }
  body .intro-text .intro-lead-in {
      margin-bottom: 30px;
      font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-style: italic;
      line-height: 16px;
  }
  body .intro-text .intro-heading {
      margin-bottom: 30px;
      text-transform: uppercase;
  /*    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; */
      font-size: 22px;
      font-weight: 700;
      line-height: 22px;
  }
  h1 {
    font-size: 24px;
  }
  ul.social-buttons li a {
     display: inline-block;
     vertical-align: baseline;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      font-size: 0.8em;
      line-height: 80px;
      outline: 0;
      color: #fff;
      background-color: transparent;
    /*  background-color: #222;*/
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
  }
  ul.social-buttons i {
     padding-top: 12px;
  }
  .btn-xl {
      border-color: #f6bf01;
      padding: 20px 50px;
      border-radius: 3px;
      text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      background-color: transparent;
      margin-top: 30px;
      margin-bottom: 30px;
  }

}

/* iPad and stuff */
@media screen
and (min-width: 480px)
and (max-width: 768px) {
  body {
      background: url('/static/img/Panorama.jpg') no-repeat center center fixed;
  }
  body .intro-text {
      padding-top: 90px;
      padding-bottom: 45px;
  }
  ul.social-buttons li a {
     display: inline-block;
     vertical-align: baseline;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      font-size: 0.7em;
      line-height: 80px;
      outline: 0;
      color: #fff;
      background-color: transparent;
    /*  background-color: #222;*/
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
  }

  ul.social-buttons i {
     padding-top: 14px;
  }
}

/* iPad and stuff */
@media screen
and (min-width: 768px)
and (max-width: 1024px) {
  body {
      background: url('/static/img/Panorama.jpg') no-repeat center center fixed;
  }
  body .intro-text {
      padding-top: 90px;
      padding-bottom: 45px;
  }
  ul.social-buttons li a {
     display: inline-block;
     vertical-align: baseline;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      font-size: 0.7em;
      line-height: 80px;
      outline: 0;
      color: #fff;
      background-color: transparent;
    /*  background-color: #222;*/
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
  }

  ul.social-buttons i {
     padding-top: 14px;
  }
}

@media screen
and (min-width: 768px) {

}


@media screen
and (min-width: 1224px) {

}

@media screen
and (min-width: 1624px) {

}
